@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-montserrat: "Montserrat", serif;
  --color-b1: #5865f2;
  --color-db2: #404eed;
  --color-dg3: #23272a;
  --color-lg4: #99aab5;
  --color-w5: #ffffff;
  --color-g2: #57f287;
  --color-g1: #3ba55c;
  --color-y2: #fee75c;
  --color-r3: #ed4245;
  --color-bl1: #202225;
  --color-bl2: #2b2d31;
  --color-bl3: #313338;
  --color-wl1: #e3e5e8;
  --color-wl2: #f2f3f5;
  --color-wl3: #b6b9be;
  --color-pc1: #21243b;

  --color-rd1: #5865f2;
  --color-rd2: #3ba55c;
  --color-rd3: #faa61a;
  --color-rd4: #ff5688;
  --color-rd5: #b674f1;
  --color-rd6: #cd83cb;
  --color-rd7: #ed4245;
}

body,
html {
  font-family: var(--font-montserrat);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  letter-spacing: -0.03em;
}

/* START of Typography */

.h1 {
  font-size: 84px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: -0.03em;
}

.h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
  font-family: var(--font-montserrat);
}

.h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}

.h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-montserrat);
  letter-spacing: 0.05em;
  color: var(--color-wl1);
}

.body-2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 18px;
  font-family: var(--font-montserrat);
  letter-spacing: 0.05em;
  color: var(--color-wl1);
}

.body-3 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.base {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.base-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.base-small {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.small-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.small-2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.3em;
}

.small-compact {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
}

/* END of Typography */

/* START of Gradients */

.g1 {
  background: linear-gradient(180deg, #191f36 0%, #5865f2 100%);
}
.g2 {
  background: linear-gradient(
    150deg,
    #23272a 0%,
    #7e61ff 100%,
    #6668eb 0%,
    #23272a
  );
}
.g3 {
  background: linear-gradient(180deg, #082f0d 50%, #189529 100%);
}
.g4 {
  background: linear-gradient(180deg, #130f33 50%, #4630ed 100%);
}
.g5 {
  background: linear-gradient(180deg, #520234 50%, #ef24a1 100%);
}
.g6 {
  background: linear-gradient(180deg, #433c5a 0%, #3b2e90 100%);
}

.container {
  @apply mx-auto max-w-[1252px] px-10 max-xl:px-8 max-lg:px-6 max-sm:px-4;
}

.disabled\:opacity-50:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.scroll-hidden {
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bl2);
}
::-webkit-scrollbar-thumb {
  background: var(--color-wl3);
  border-radius: 4px;
}
